@import "tailwindcss";
@font-face {
  font-family: "Gopher";
  src: url("/fonts/Gopher-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Gopher";
  src: url("/fonts/Gopher-Bold.otf") format("opentype");
  font-weight: 700;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Gopher", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair);
  letter-spacing: -0.02em;
}